html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: green;
}

#calculator-body {
  height: 600px;
  width: 400px;
  border: 12px solid rgb(20, 19, 19);
  padding: 12px;
  margin: 50px;
  border-radius: 2%;
  background-color: rgb(32, 30, 30);
  display:flex;
  flex-direction: column;
  align-content: center;
}

#screen-container {
  display: flex;
  justify-content: center;
  width: 380px;
  border: 3px solid green;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 3px solid black;
  margin: 5px;
  padding: 0 10px 0 0;
  background-color: lightgrey;
  justify-content: center;
  a
}

.topOfScreen {
  height: 30px;
  width: 100%;
  display: flex;
  flex-grow: 0.5;
  border: 3px solid yellow;
  justify-content: flex-end;
  align-items: center;
  font-size: 26px;
  padding: 5px 0 0 0;
}

.screen {
  font-size: 84px;
  background-color: lightgrey;
  height: 100px;
  width: 100%;
  flex-grow: 1; 
  display: flex;
  justify-content: flex-end;
  align-items: center; 
}

.screenSmallText {
  font-size: 68px;
  background-color: lightgrey;
  height: 100px;
  flex-grow: 1; 
  border-radius: 5px;
  border: 3px solid black;
  margin: 5px;
  padding: 0 10px 0 0;
  display: flex;
  justify-content: flex-end;
  align-items: center; 
}

.screenSmallerText {
  font-size: 48px;
  background-color: lightgrey;
  height: 100px;
  flex-grow: 1; 
  border-radius: 5px;
  border: 3px solid black;
  margin: 5px;
  padding: 0 10px 0 0;
  display: flex;
  justify-content: flex-end;
  align-items: center; 
}

.screenSmallestText {
  font-size: 28px;
  background-color: lightgrey;
  height: 100px;
  flex-grow: 1; 
  border-radius: 5px;
  border: 3px solid black;
  margin: 5px;
  padding: 0 10px 0 0;
  display: flex;
  justify-content: flex-end;
  align-items: center; 
}

.button-row {
  height: 100px;
  background-color: rgb(32, 30, 30);
  display: flex;
  flex-grow: 1;
  /* border: 2px solid yellow; */
  justify-content: space-between;
}

.operator {
  font-size: 28px;
  background-color: orange;
  flex-grow: 1;
  flex-basis: 0;
  margin: 3px;
  border-radius: 5px;
}

.operand {
  font-size: 28px;
  background-color: orangered;
  flex-grow: 1;
  flex-basis: 0;
  margin: 3px;
  border-radius: 5px;
}

/* This selector does not work */
#0 {
  flex-grow: 2 !important;
  background-color: green !important;
}