html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: green;
}

#calculator-body {
  height: 600px;
  width: 400px;
  border: 12px solid rgb(20, 19, 19);
  padding: 12px;
  margin: 50px;
  border-radius: 2%;
  background-color: rgb(32, 30, 30);
  display:flex;
  flex-direction: column;
  align-content: center;
}

.screen-container {
  background-color: lightgrey;
  border: 3px solid yellow;
}

.topOfScreen {
  border: 3px solid green;
  display: flex;

}

.opDiv {
  height: 50px;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 28px;
}

#leftOperandDiv {
  flex: 1;
  border: 1px solid blue;
}

#operatorDiv {
  flex: 0;
  border: 1px solid goldenrod;
}

#rightOperandDiv {
  flex: 0;
  border: 1px solid papayawhip;
}

.screen {
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 72px;
}

.button-row {
  height: 100px;
  background-color: rgb(32, 30, 30);
  display: flex;
  flex-grow: 1;
  /* border: 2px solid yellow; */
  justify-content: space-between;
}

.operator {
  font-size: 28px;
  background-color: orange;
  flex-grow: 1;
  flex-basis: 0;
  margin: 3px;
  border-radius: 5px;
}

.ac {
  font-size: 28px;
  background-color: orange;
  flex-grow: 1;
  flex-basis: 0;
  margin: 3px;
  border-radius: 5px;
}

.plus-minus {
  font-size: 28px;
  background-color: orange;
  flex-grow: 1;
  flex-basis: 0;
  margin: 3px;
  border-radius: 5px;
}

.equals {
  font-size: 28px;
  background-color: orange;
  flex-grow: 1;
  flex-basis: 0;
  margin: 3px;
  border-radius: 5px;
}

.operand {
  font-size: 28px;
  background-color: orangered;
  flex-grow: 1;
  flex-basis: 0;
  margin: 3px;
  border-radius: 5px;
}

/* #screen-container {
  display: flex;
  justify-content: center;
  width: 380px;
  border: 3px solid green;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 3px solid black;
  margin: 5px;
  padding: 0 10px 0 0;
  background-color: lightgrey;
  justify-content: center;
} */

/* .topOfScreen {
  border: 3px solid yellow;
  display: flex;
  height: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-grow: 0.5;
  justify-content: flex-end;
  align-items: center;
  font-size: 28px;
  padding: 10px 0 0 0;
} */

/* .leftOperand {
  border: 3px solid red;
}

.rightOperand {
  border: 3px solid blue
}


.screenSmallText {
  font-size: 68px;
  background-color: lightgrey;
  height: 100px;
  flex-grow: 1; 
  border-radius: 5px;
  border: 3px solid black;
  margin: 5px;
  padding: 0 10px 0 0;
  display: flex;
  justify-content: flex-end;
  align-items: center; 
}

.screenSmallerText {
  font-size: 48px;
  background-color: lightgrey;
  height: 100px;
  flex-grow: 1; 
  border-radius: 5px;
  border: 3px solid black;
  margin: 5px;
  padding: 0 10px 0 0;
  display: flex;
  justify-content: flex-end;
  align-items: center; 
}

.screenSmallestText {
  font-size: 28px;
  background-color: lightgrey;
  height: 100px;
  flex-grow: 1; 
  border-radius: 5px;
  border: 3px solid black;
  margin: 5px;
  padding: 0 10px 0 0;
  display: flex;
  justify-content: flex-end;
  align-items: center; 
} */